body
{
    margin: auto;
    width: auto;
    background: rgba(0, 0, 0, 0.9);
}

.main__header
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

.main__content
{
    width: auto;
    padding-left: 25%;
    padding-right: 25%;
}

.drawing__canvas
{
    box-shadow: -3px 2px 9px 6px black;
}

.drawing__text, .content__text
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

.drawing__slider
{
    width: 640px;
}

.controls__button
{
    font-family: Arial, Helvetica, sans-serif;
    height: 32px;
    color: white;
    background-color:rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    border-color: white;
    transition-duration: 100ms;
}

#controls__undo-button:hover
{
    border-color: rgb(35, 146, 214);
    background-color: rgba(35, 146, 214, 0.2);
}

#controls__clear-button:hover
{
    border-color: rgb(200, 0, 0);
    background-color: rgba(200, 0, 0, 0.3);
    cursor: pointer;
}

.encoded-drawing__loading
{
    position: absolute;
    width: 640px;
    height: 240px;
}

.encoded-loading__animation, .loading__animation
{
    display: flex;
    justify-content: center;
}

.encoded-loading__animation::after, .loading__animation::after
{
    content: "";
    margin-top: 95px;
    width: 50px;
    height: 50px;
    border: 10px solid rgba(35, 146, 214, 0.2);
    border-top-color: rgb(35, 146, 214);
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.drawing__loading
{
    position: absolute;
    width: 320px;
    height: 240px;
}