<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/about-style.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <title>Interact With Golay Codes</title>
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul id="navbar__list" class="navbar__list">
            <li id="list__index-item" class="list__item">
                <a id="item__to-index" class="item__logo-wrapper" href="/">
                    <img id="to-index__logo" class="logo-wrapper__logo" src="http://blogs.ams.org/visualinsight/files/2015/12/golay_westendorp.gif" height="64px">
                </a>
            </li>
            <li id="list__extended-golay-simulator-item" class="list__item">
                <a id="item__to-extended-golay-simulator" class="item__link" href="/extended-golay-code-simulator">Extended Golay Code Simulator</a>
            </li>
            <li id="list__nasa-voyager-1-simulator-item" class="list__item">
                <a id="item__to-nasa-voyager-1-simulator" class="item__link" href="/nasa-voyager-1-simulator">NASA Voyager 1 Simulator</a>
            </li>
            <li id="list__golay-code-paper-item" class="list__item">
                <a id="item__to-golay-code-paper" class="item__link">Read Our Report</a>
            </li>
            <li id="list__about-item" class="list__item">
                <a id="item__to-about" class="item__link" href="/about">About</a>
            </li>
        </ul>
    </nav>
    <main id="main" class="main">
        <h1 id="main__header" class="main__header">About</h1>
    </main>
</body>
</html>