<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index-style.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <title>Interact With Golay Codes</title>
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul id="navbar__list" class="navbar__list">
            <li id="list__index-item" class="list__item">
                <a id="item__to-index" class="item__logo-wrapper" href="/">
                    <img id="to-index__logo" class="logo-wrapper__logo" src="http://blogs.ams.org/visualinsight/files/2015/12/golay_westendorp.gif" height="64px">
                </a>
            </li>
            <li id="list__extended-golay-simulator-item" class="list__item">
                <a id="item__to-extended-golay-simulator" class="item__link" href="/extended-golay-code-simulator">Extended Golay Code Simulator</a>
            </li>
            <li id="list__nasa-voyager-1-simulator-item" class="list__item">
                <a id="item__to-nasa-voyager-1-simulator" class="item__link" href="/nasa-voyager-1-simulator">NASA Voyager Simulator</a>
            </li>
            <li id="list__golay-code-paper-item" class="list__item">
                <a id="item__to-golay-code-paper" class="item__link" href="/report">Read Our Report</a>
            </li>
            <li id="list__about-item" class="list__item">
                <a id="item__to-about" class="item__link" href="/about">About</a>
            </li>
        </ul>
    </nav>
    <main id="main" class="main">
        <h1 id="main__header" class="main__header">Interact With Golay Codes</h1>
        <div id="main__content" class="main__content">
            <p id="main__text" class="main__text">Part of the awe inspiring nature of mathematics lies in the nuances that may arise out of a seemingly simple question.  Coding theory is no exception to this phenomenon, which is in part the reason why the field is so enticing to younger mathematicians emerging from their undergraduate education.  But in general with such questions that motivate entire complex mathematical fields, what truly makes the picture complete is when from such complexity emerges symmetry, elegance, and in some sense, simplicity once again.  We believe that this is truly the case with the findings of Marcel J.E. Golay, and this perspective motivated our development of this application which allows those interested in coding theory to interact with Golay's (incredibly elegant) construction.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/E95cR2ir1Tc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p id="main__text" class="main__text">Beyond this, as is discussed in the above presentation, analyzing the Golay code from a historical perspective can lead to some interesting observations about the state of academia in relation to those who contribute to modern findings.  Although many students are taught mathematics as though each development preceded those which follow, what we really observe when we analyze mathematics from the historical perspective is that massive mathematical innovations are often unprecedented.  In reality, such groundbreaking mathematical innovations that found entire fields of study are studied closely in the years following by academics simply to formalize the dependent or surrounding information before such information is taught to students.  We tend to think that a lot about the art of contribution to mathematics can be learned from understanding an innovative contribution to the mathematical literature from the historical perspective of that finding being considered unprecedented, and not having stemmed from the (important and absolutely necessary) formalization that follows it.</p>
        </div>
    </main>
</body>
</html>